/*=============================================
HEADER
=============================================*/
header #logotipo img{
	width: 100%;
	padding: 20px;
}

li {
	list-style: none;
}

.navbar{
 padding-top: 40px;
}

/*=============================================
Carrousel
=============================================*/
#slide{
	position: relative;
	margin: auto;
	width: 100%;
	overflow: hidden;
}

#slide ul{
	position: relative;
	left: 0%;
	margin: auto;
	height: auto;
	width: 200%;
	clear: both;
	display: table;
	padding-left: 0px;
}

#slide ul li{
	position: relative;
	float: left;
	width: 50%;
}

#slide ul li img{
	width: 100%;
}

#slide .texto-slide{
	position: absolute;
	top: 40px; left: 40px; right: 40px;
}

#slide .texto-slide h1{
	padding: 50px 0px 20px 0px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Ubuntu Condensed', sans-serif;
	opacity:1;
	color: white;
}

#slide .texto-slide a{
	margin-top: 40px;
	margin-left: 45%;
}

#slide .btn-contacto{
	position: absolute;
	bottom:20%;
	left:48%;
}

#slide .btn-contacto{
	color: white;
	background-color: #f28d17;
	border-color: #f28d17;
}

#slide .btn-contacto:hover{
	background-color: #F7B746;
	border-color: #F7B746;
}

/*=============================================
FLECHAS
=============================================*/

#slide .flechas{
	position:absolute;
	font-size:2em;
	color:white;
	cursor:pointer;
	z-index:2;
}

#slide #retroceder{
	background:#666;
	padding: 40px 15px 40px 10px;
	top: 37%;
	left:0;
	font-size: 22px;
	opacity: 0;
}

#slide #avanzar{
	background:#666;
	right:0;
	padding: 40px 10px 40px 15px;
	top: 37%;
	font-size: 22px;
	opacity: 0;
}

#slide #retroceder:hover, #slide #avanzar:hover{
	background:#777;
}

#slide #retroceder:active, #slide #avanzar:active{
	background:#444;
}


/*=============================================
PAGINACIÓN
=============================================*/

#slide #paginacion{
	position: absolute;
	width:100%;
	margin:auto;
	text-align: center;
	line-height: 40px;
	font-size:12px;
	bottom:0px;
	left:0px;
	z-index:1;
	background:rgba(0,0,0,.05);
}

#slide #paginacion li{
	display:inline-block;
	margin:0px 5px;
	cursor:pointer;
	opacity:.5;
	color:white;
	text-shadow:0px 0px 5px #333;
}

#slide #paginacion li:first-child{
	opacity:1;
}

#btnSlide{
	width:150px;
	border:0px;
	font-size:25px;
	padding:2px;
}

/*=============================================
SECCIONES
=============================================*/
.secciones{
	margin-top: 40px;
}
.tituloSeccion{
	font-size: 2.5vw;
}
/* Servicios*/








/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.navbar li a{
		font-size: 24px;
	}



}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	/*=============================================
	TOP
	=============================================*/
	header #logotipo img {
	    width: 110%;
    	margin-top: 12px;
	}

	.navbar-light .navbar-toggler {
	    margin-top: 30%;
	}
	
	#slide ul li img {
	    width: 100%;
	}

	#slide #avanzar, #slide #retroceder{
		padding: 15px 8px 15px 8px;
	}

	#slide .texto-slide {
	    position: absolute;
	    top: 15%;
	    left: 5%;
	    right: 5%;
	}

	#slide .texto-slide h1 {
	    padding: 0px 0px 20px 0px;
	    font-size: 4vw;
	}
	#slide .btn-contacto {
	    position: absolute;
	    bottom: 20%;
	    left: 47%;
	}

	.btn{
		padding: .2rem .3rem;
	}


}

/*=============================================
MOVIL (Small revisamos en 320px)
=============================================*/

@media (max-width:767px) and (min-width:577px){

	/*=============================================
	TOP
	=============================================*/
	header #logotipo img {
	    width: 80%;
	    padding: 20px;
	}

	.navbar-light .navbar-toggler {
	    margin-top: 30%;
	}
	
	#slide ul li img {
	    width: 100%;
	}

	#slide #avanzar, #slide #retroceder{
		padding: 15px 8px 15px 8px;
	}

	#slide .texto-slide {
	    position: absolute;
	    top: 15%;
	    left: 5%;
	    right: 5%;
	}

	#slide .texto-slide h1 {
	    padding: 0px 0px 20px 0px;
	    font-size: 4vw;
	}
	#slide .btn-contacto {
	    position: absolute;
	    bottom: 20%;
	    left: 47%;
	}

	.btn{
		padding: .2rem .3rem;
	}

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:576px){

	/*=============================================
	TOP
	=============================================*/
	.navbar{
		padding-top: 0;
	}

	#slide #retroceder, #slide #avanzar{
		display: none;
	}

	#slide ul li img {
	    width: 150%;
	}

	#slide .texto-slide {
	    position: absolute;
	    top: 15%;
	    left: 5%;
	    right: 5%;
	}

	#slide .texto-slide h1 {
	    padding: 0px 0px 20px 0px;
	    font-size: 5vw;
	}
	#slide .btn-contacto {
	    position: absolute;
	    bottom: 20%;
	    left: 45%;
	}

	.btn{
		padding: .2rem .3rem;
	}

}


